name: OPA Policy Compliance

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  opa:
    runs-on: ubuntu-latest
    env:
      PLAN_JSON_PATH: ${{ github.workspace }}/tfplan.json
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.12.2"
      
      - name: Install OPA
        run: |
          curl -L -o opa https://openpolicyagent.org/downloads/latest/opa_linux_amd64
          chmod +x opa
          sudo mv opa /usr/local/bin/
      
      - name: Terraform Init
        run: |
          cd terraform
          terraform init
      
      - name: Generate Terraform Plan
        run: |
          cd terraform
          terraform plan -out=tfplan.binary
          terraform show -json tfplan.binary > ${{ env.PLAN_JSON_PATH }}
      
      - name: Run OPA tests
        run: opa test policies/ --verbose
      
      - name: Run OPA Policy Evaluation
        run: |
          chmod +x scripts/evaluate.sh
          ./scripts/evaluate.sh ${{ env.PLAN_JSON_PATH }}
